<!-- start footer -->
<footer class="footer" class="mt-5">
    <div class="container" data-aos="zoom-in" data-aos-duration="1200">
      <div class="row py-5">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="footer-logo my-3">Table<span>aura.</span></div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore reprehenderit praesentium quibusdam suscipit? Fugiat, deserunt!</p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <h3 class="text-uppercase">Liens Rapides</h3>
          <div class="my-3">
            <a href="{% url 'index' %}"><h6 class="social">Accueil</a></h6>
            <a href="{% url 'products' %}"><h6 class="social">Produits</a></h6>
            <a href="{% url 'categories' %}"><h6 class="social">Catégories</a></h6>
            <a href="{% url 'about' %}"><h6 class="social">A propos</a></h6>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <h3 class="text-uppercase">Suivez-nous</h3>
          <div class="my-3">
            <a href="https://www.facebook.com/abdessamad.touati" target="_blank"><h6>Facebook</a></h4>
            <a href="https://www.instagram.com/abds4816/" target="_blank"><h6>Instagram</a></h4>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <h3 class="text-uppercase">Contact Info</h3>
          <div class="my-3">
            <h6><a href="https://www.facebook.com/abdessamad.touati" target="_blank"><i class="bi bi-facebook social mx-4"></i></a></h6>
            <h6><a href="https://www.instagram.com/abds4816/" target="_blank"><i class="bi bi-instagram social mx-4"></i></a></h6>
            <h6><a href="https://www.linkedin.com/in/abde-ssamade-24b9b821a/" target="_blank"><i class="bi bi-linkedin social mx-4"></i></a></h6>
            <h6><a href="https://github.com/abds4816" target="_blank"><i class="bi bi-github social mx-4"></i></a></h6>
          </div>
        </div>
        <hr class="mt-3">
        <p class="text-center fw-bold my-3">
            Copyrights &copy; 2021. Powered By  
            <a href="#" id="creator" class="text-uppercase">abdessamade touati</a>
        </p>
      </div>
    </div>
  </footer>
  <!-- end footer -->